# Fichiers de projet Unreal
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
FileOpenOrder/

# Fichiers de configuration utilisateur et logs
*.log
*.ini
.vs/
.vscode/
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Starter Content (Optionnel, mais recommandé si tu veux un dépôt léger)
# Décommente la ligne suivante pour ignorer TOUT le dossier StarterContent
Content/StarterContent/